build==0.8.0
click==8.1.3
packaging==21.3
pep517==0.13.0
pyparsing==3.0.9
# Editable Git install with no remote (salesforce-text-formatter==0.0.0)
-e /Users/d.lambert/Documents/pypi_packages/salesforce_text_editor_package
tomli==2.0.1
wordninja==2.0.0
